:root {
    --accent: #2d6cdf;
    --bg: #fafafa;
    --text: #222;
}

/*html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background: transparent;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}*/

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background: transparent;
    /*color: var(--text);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}